body {
  font-family: "Roboto", sans-serif;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #a71d26;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
    color: #fff;
}

.btn-info {
    background-color: #20c997;
    border-color: #20c997;
    color: #fff;
}

.btn-info:hover {
    background-color: #17a2b8;
    border-color: #138496;
    color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

form input {
  margin-top: 5px;
  margin-bottom: 15px;
  height: 30px;
}

form input:focus {
  outline: none;
  box-shadow: 0 0 4px 1px darkgray;
}

form .btn-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

form .btn-container > button.btn-primary {
    flex: 0 0 auto;
    margin-right: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.blue-link{
  color: #007bff;
}

.badge-primary {
  background-color: #007bff;
  color: #fff;
}

.post-link {
  font-weight: bold;
}

.post-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  max-width: 600px; 
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-image {
  margin-right: 20px;
}

.user-details {
  flex: 1;
}

.user-actions {
  margin-top: 10px;
}

.post-author {
  display:block;
  color: #a1a1a1;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.flash.success {
  background-color: lightgreen;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.flash.error {
  background-color: salmon;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
