{% extends 'base.html' %}

{% block title %} Edit Tag Form {% endblock %}

{% block content %}
    <h1>Edit tag</h1>
    <form class="edit-tag-form" method="POST" action="/tags/{{tag.id}}/edit">

        <label for="tag-name">Tag name</label>
        <input type="text" id="tag-name" name="name" value="{{tag.name}}" required>

        <div class="btn-container">
            <button class="btn btn-primary" onclick="window.location.href='/tags'">Cancel</button>
            <button class="btn btn-success" type="submit">Edit</button>
        </div>
    </form>

{% endblock %}
