
{% extends 'base.html' %}

{% block title %} Recent Posts {% endblock %}

{% block content %}

<h1>Blogly Recent Posts</h1>
<ul>
  {% for post in recent_posts %}
    <div class="post-container">
        <h2><a class="post-link" href="/posts/{{post.id}}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        <p class="post-author"><a class="post-link" href="/users/{{post.user.id}}">{{ post.user.first_name }} {{post.user.last_name}}</a> {{ post.formatted_created_at() }}<p>
    </div>
  {% endfor %}
</ul>

{% endblock %}