{% extends 'base.html' %}

{% block title %} User Edit Page {% endblock %}


{% block content %} 

<h1> Edit a user </h1>
<form class="edit-user-form">
    <label for="first-name">First name</label>
    <input type="text" id="first-name" name="first-name" placeholder="{{ user.first_name }}" required>

    <label for="last-name">Last name</label>
    <input type="text" id="last-name" name="last-name" placeholder="{{ user.last_name }}" required>

    <label for="image-url">Image URL</label>
    <input type="text" id="image-url" name="image-url" placeholder="{{ user.image_url }}" required>

    <button type="submit">Save</button>
    <button type="submit">Cancel</button>
    
</form>


{% endblock %}